# pastas
temp
logs

# Ignorar arquivos temporários do Jupyter
.ipynb_checkpoints/
*-checkpoint.ipynb
__pycache__/

# Ignorar ambiente virtual
.venv/
env/

# Ignorar variáveis de ambiente
.env.bak/
.env

# Ignorar arquivos
*.pdf
*.txt
*.json
*.db
